<!-- Footer Section -->
<footer class="py-5 bg-dark-custom rounded-4 m-3 m-lg-4" data-aos="clip-bottom">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <div class="text-light-custom content-title fw-bold" data-aos="fade-right" data-aos-duration="1000">Ewan</div>
                <p class="text-light-custom mb-4">
                Follow me to see what I'm up to next!
                </p>
            </div>

            <div class="col-md-2">
                <ul class="list-unstyled">
                <li class="mb-2"><a href="/index.html" class="footer-link text-yellow">Home</a></li>
                <li class="mb-2"><a href="/pages/about.html" class="footer-link">About</a></li>
                <li class="mb-2"><a href="/pages/contact.html" class="footer-link">Contact</a></li>
                </ul>
            </div>
                
            <div id="socialsContainerFooter"></div>

        </div>

        <div class="border-top border-light pt-4">
        <p class="text-light-custom text-center">
            ©2025 David. Designed by <a href="https://templatesjungle.com/" target="_blank"
            class="text-light-custom text-decoration-underline">TemplatesJungle</a>.
        </p>
        </div>
    </div>
</footer>