<!-- Fullscreen Menu Overlay -->
<div id="fullscreenMenu" class="fullscreen-menu-overlay">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-7">
                <button id="closeMenuBtn" class="close-menu-btn position-absolute top-0 end-0 m-4">
                <i class="fas fa-times fs-1"></i>
                </button>

                <nav class="fullscreen-menu-nav">
                <ul class="list-unstyled">
                    <li><a href="index.html" class="menu-link">Home</a></li>
                    <li><a href="/pages/contact.html" class="menu-link">Contact</a></li>
                </ul>
                </nav>
            </div>
        </div>
    </div>
</div>